*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(130deg, #FFFFFF, #F5F1A9, #efb0fcdf, #F5F1A9,#FFFFFF,#FFFFFF,#FFFFFF ,#efb0fcdf);
     background-size: 100%; 
    /*animation: color 20s ease-in-out infinite;*/
}

/*@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}*/

nav{
    background: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1000;
}

label.logo{
    line-height: 80px;
}

.label_obrazek_logo{
    line-height: 80px;
    margin: 10px 5px 5px 20px;
    height: 60px;
    width: 60px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgba(34,10,9);
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: bold;
}

a.active, a:hover{
    background: rgba(255, 255, 180, 0.73);
}

.checkbtn{
    font-size: 30px;
    color:rgba(34,10,9);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{
    display: none;
}

/*@media (max-width: 700px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}*/

@media (max-width: 1000px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #faf4dee6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: rgba(255, 255, 180, 0.73);
        color: rgba(34,10,9);
    }
    #check:checked ~ ul{
        left: 0;
    }
}



    /* OBSAH */
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .frame {
        width: 80%;
        background-color: #FFFFFF;
        margin: 160px auto;
        padding: 70px;
        position: relative;
        text-align: left;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
    }
    
    .logo_div {
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px; /* Adjust width as needed */
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px; /* Adjust according to logo size */
    }
    
    .left, .right {
        width: 45%;
        box-sizing: border-box;
    }
    
    .left h1, .right h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 25px;

    }
    
    .left_odstavec{
        margin-top: 20px;
    }

    .left h1::after, .right h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: rgba(255, 243, 178);
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    
    .highlight {
        margin: 45px 0;
        text-align: center;
    }
    
    .images {
        display: flex;
        justify-content: space-between;
    }
    
    .images img {
        width: 32%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
    }







    /* PATIČKA */
    .footer {
        background-color: rgba(255, 243, 178);
        padding: 20px;
        text-align: left;
        padding-top: 40px;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
    
    }
    
    .footer-section {
        flex: 1;
   
        min-width: 80px;
        margin-bottom: 30px;
        word-wrap: normal;
    }
    
    .footer-section.hours{
        margin-left: 70px;
        margin-right: 40px;
    }

    .footer-section h3 {
        margin-bottom: 20px;
    }
    
    .footer-section p, .footer-section a {
        margin: 5px 0;
        color: rgba(97, 70, 68);
        text-decoration: none;
      
    }
    
    .social-icons img {
        width: 30px;
        margin-right: 10px;
    }
    
    .map-container {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .quick-menu{
        text-decoration: underline;
    }

    .footer-section a:hover {
        background-color: transparent; /* Make background color transparent */
        color: purple; /* Change text color on hover */
        text-decoration: purple underline;
    }
    
    /* Media Queries for responsiveness */
    @media (max-width: 2500px){
        .logo_div{
            width: 250px;
            top: -140px;
        }
        .frame{
            margin-top: 210px;
            width: 70%;
        }
    }

    @media (max-width: 1800px){
        .logo_div{
            width: 220px;
            top: -120px;
        }

        .frame{
            margin-top: 190px;

        }
    }


    @media (max-width: 1200px) {
        .content {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
    
        .left, .right {
            width: 100%;
            margin-bottom: 40px;
        }
        .frame{
            padding: 60px;
        }
        .images {
            flex-direction: column;
            align-items: center;
        }
    
        body{
            font-size: 15px;
        }
        .images img {
            width: 80%;
            margin-bottom: 10px;
        }
        .highlight{
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .logo_div {
         /* Adjust width as needed for smaller screens */
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translateX(-50%);
            width: 200px; /* Adjust width as needed */
        }
    }


    @media (max-width: 990px) {
        .content {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
    
        .left, .right {
            width: 100%;
            margin-bottom: 40px;
        }
        .frame{
            padding: 40px;
        }
        .images {
            flex-direction: column;
            align-items: center;
        }
    
        body{
            font-size: 13px;
        }
        .images img {
            width: 80%;
            margin-bottom: 10px;
        }
        .highlight{
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .logo_div {
         /* Adjust width as needed for smaller screens */
            position: absolute;
            top: -95px;
            left: 50%;
            transform: translateX(-50%);
            width: 170px; /* Adjust width as needed */
        }
        .footer-content {
            flex-direction: column;
            align-items: center;
        }
    
        .footer-section {
            width: 100%;
            text-align: left;
        }
        .footer-section.hours{
            margin: 0;
        }
    }
    
    @media (max-width: 200px) {
        .frame {
            width: 90%;
            padding: 20px;
            margin-top: 110px;
        }
    
        .logo_div {
            width: 120px; /* Adjust width as needed for smaller screens */
            top: -65px;
        }
    
        .images img {
            width: 100%;
            margin-bottom: 10px;
        }
        .footer-content {
            align-items: flex-start;
        }
    
        .footer-section {
            width: 100%;
        }

        .footer-section.hours{
            margin: 0;
        }
    }


@media (max-width:550px){
    .frame{
        width: 90%;
        padding: 20px;
        margin-top: 110px;
    }

    .logo_div {
        width: 120px; /* Adjust width as needed for smaller screens */
        top: -70px;
    }
}






    @media (max-width: 350px) {
        .frame {
            width: 90%;
            padding: 20px;
            margin-top: 110px;
        }
    
        .logo_div {
            width: 100px; /* Adjust width as needed for smaller screens */
            top: -55px;
        }
    
        .images img {
            width: 100%;
            margin-bottom: 10px;
        }
        .footer-content {
            align-items: flex-start;
        }
    
        .footer-section {
            width: 100%;
        }

        .footer-section.hours{
            margin: 0;
        }

    }

